//small screen
// @media (min-width: @screen-sm-min) {
//   background:
// }

//index style
h1 {
  font-family: 'Ruslan Display', cursive;
  font-size: 48px;
}

h2 {
  font-family: 'Great Vibes', cursive;
}

//login.jade style
.space {
  padding: 10px;
}

.full {
  width: 100%;
  padding: 0;
}

.login-outer {
  background-image: url("/images/lenseflare.jpg");
  //opacity: 0.6;
  background: #0000FF ;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form, .doLogin, .doReset {
  position: relative;
  margin: 5px;
}

label, .btn {
}
.half {
  witdth: 50%;
}
//people and profile style
.navbar {
  position: fixed;
  top: 25px;
  ul {
  list-style: none;
  }
}

header {
  h1 {
    color: rgb(29,45,145);
  }
  img {
    position: center;
  }
}

nav {
  float: left;
  ul {
    list-style: none;
  }
  li {
    display: inline;
    padding: 5px;
    height: 7px;
    //background-image: (src="images/zdove.jpg");
    text-decoration: none;
    font-weight: bold;
    background-color: #0000FF;
    border-radius: 20%;
      //border: solid #000044 5px;
      a {
        color: white;
      }
  }
}
a:active {
  background-image: url("/images/zdove.jpg")
  //border: solid #000066 5px;
}

.directory {
  background-image: url("/images/marble,jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

