.navbar {
  ul {
  list-style: none;
  }
}

.thumbnail img {
  max-width: 100px;
  max-height: 100px;
}
.logo {
  height: 50px;
  width: auto;
}

header {
  h1 {
    position: fixed;
    top: 5px;
    left: 20px;
    color: rgb(29,45,145);
  }
  img {
    position: center;
  }
}

// nav {
//   ul {
//     position: fixed;
//     top: 5px;
//     right: 20%;
//     list-style: none;
//   }
//   li {
//     display: inline;
//     padding: 5px;
//     height: 7px;
//     //background-image: (src="images/zdove.jpg");
//     a:active, a:visited, a:link {
//       color: white;
//       text-decoration: none;
//       font-weight: bold;
//       background-color: #000044;
//       //border: solid #000044 5px;
//     }
//   }
// }
// a:hover {
//   color: black;
//   background-color: #000066;
//   text-decoration: underline;
//   //border: solid #000066 5px;
// }

