section.container-fluid.bkgrnd.row
  //make image have zindex -1
  //img(src="images/clouds.jpg").bkgrnd.img-responsive
  //put in transparent box centered on page
  //eventualy put link to profile here
  section.simone.col-md-4.col-xs-12
    p Contact Simone Gonzalez
    a(href="https://www.linkedin.com/in/simonegonzalez")
      img(src="images/linkedin.jpg" alt="linkedin")
  section.opmedia.col-md-4.col-xs-12
    p Connect with Omega Pi on social media:
      ul
        li: a(href="http://omegapizetas.tumblr.com/")
          img(src="/images/tumblr.jpg" alt="tumblr")
        li: a(href="https://twitter.com/OmegaPiZetas")
          img(src="/images/twitter.jpg" alt="twitter")
        li: a(href="https://www.facebook.com/groups/omegapizphib/")
          img(src="/images/facebook.jpg" alt="facebook")
    p and on the
      a(href="omegapizphib.wix.com/vandyzetas")  web.
  section.vandy.col-md-4.col-xs-12
    Contact Greek Life Office at Vanderbilt:
    ul
      li Kristin Torrey or Anthony Williams
      li 615-322-2048
      li greeklife@vanderbilt.edu
      li Sarratt Student Center, Suite 207