nav
  ul.navbar
    li: a(href="/#/contact") Contact
    li: a(href="/#/donate") Donate
    li: a(href="/#/people") Directory
    li: a(href="/#/profile") My Profile
    li: a(href="/#/logout") Logout

section.container-fluid
  //make image have zindex -1
  img(src="images/clouds.jpg")
  //put in transparent box centered on page
  //eventualy put link to profile here
  section.simone
    p Contact Simone Gonzalez
      img(src="images/linkedin.png" href="https://www.linkedin.com/in/simonegonzalez")
  //float right also in transparent box
  section.opmedia
    Connect with Omega Pi on social media:
      ul
        li: img(src="" href="")
        li: img(src="" href="")
        li: img(src="" href="")
    And on the web at
      a(href="omegapizphib.wix.com/vandyzetas")
  section.vandy
    Contact Greek Life Office at Vanderbilt:
      ul
        li: phone
        li: Name
        li: email
        li: address