nav
  ul.navbar
    li: a(href="/#/contact") Contact
    li: a(href="/#/donate") Donate
    li: a(href="/#/people") Directory
    li: a(href="/#/profile") My Profile
    li: a(href="/#/logout") Logout
//link to paypal or chapter bank account - well nicole should link new chapter paypal with chapter account

//eventually put donation graph or rank with top 3 donors listed