form(name="login")
  label.control-label Login
  input.form-control(type="text", placeholder="username")
  input.form-control(type="password", placeholder="password")
  input(type="submit")Login
  input(type="submit")Forgot Password

form(name="register")
  label.control-label Register
  input.form-control(type="text", placeholder="First Name")
  input.form-control(type="text", placeholder="Username")
  input.form-control(type="password", placeholder="Password")
  input(type="submit")Register