form(ng-submit="auth.doLogin()")
  .form-group(ng-class="")
    label.control-label Email
    input.form-control(name="email", ng-model="auth.email", type="text", placeholder="email", required)
  .form-group(ng-class="")
    label.control-label Password
    input.form-control(name="password", ng-model="auth.password", type="password", placeholder="password", required)
  input(name="login", type="submit", value="Login").btn.doLogin
  button.btn.doReset(ng-click="auth.doReset()") Reset Password