.container-fluid.full.col-xs-12
  .login-outer
    form.form.col-md-4(ng-submit="auth.doLogin()")
      .form-group.text-center.full(ng-class="")
        label.control-label.space Email
        input(name="email", ng-model="auth.email", type="text", placeholder="email", required)
      .form-group.text-center(ng-class="")
        label.control-label Password
        input(name="password", ng-model="auth.password", type="password", placeholder="password", required)
      .buttons.text-center
        input.btn.btn-sm.btn-default.doLogin(name="login", type="submit", value="Login")
        button.btn.btn-sm.btn-default.doReset(ng-click="auth.doReset()") Reset Password
  .login-inner.layer
    img.flare(src="images/lenseflare.jpg")
