section.directory
  table.table
    tr
      th Name
      th Photo
      th Phone Number
      th Email
      th Address
      th Occupation
      th Additional Information
    tr(ng-repeat="member in ppl.finalPeople")
      td {{member.name}}
      td {{member.photo}}
      td {{member.phone}}
      td {{member.email}}
      td: address {{member.address}}
      td {{member.occup}}
      td {{member.info}}