nav
  ul.navbar
    li: a(href="/#/") Home
    li: a(href="/#/contact") Contact
    li: a(href="/#/about") About
    li: a(href="/#/people") Directory
    li: a(href="/#/profile") My Profile
    li: a(href="/#/logout") Logout