nav
  ul.navbar
    li: a(href="/#/contact") Contact
    li: a(href="/#/about") About
    li: a(href="/#/people") Directory
    li: a(href="/#/profile") My Profile
    li: a(href="/#/logout") Logout

//Profile should show up here
.my_profile
  h1 {{ppl.finalPeople.name}}
  img(ng-src="{{ppl.person.photo}}")
  a(href="tel:{{ppl.person.phone}}") {{ppl.member.phone}}
  a(href="mailto:{{ppl.person.email}}") {{ppl.person.email}}
  p {{ppl.person.address}}
  p {{ppl.person.occup}}
  p {{ppl.person.info}}
  a.btn.btn-primary(ng-click="ppl.onModalLoad()") Edit
  a.btn.btn-danger(ng-click="ppl.destroy()") Delete

.profile(ng-include="'views/modalEditProfile.html'")
