nav
  ul.navbar
    li: a(href="/#/contact") Contact
    li: a(href="/#/donate") Donate
    li: a(href="/#/people") Directory
    li: a(href="/#/profile") My Profile
    li: a(href="/#/logout") Logout

//Profile should show up here
.my_profile
  h3 {{profile.profile.name}}
  img(ng-src="{{profile.profile.photo}}")
  a(href="tel:{{profile.profile.phone}}") {{profile.profile.phone}}
  a(href="mailto:{{profile.profile.email}}") {{profile.profile.email}}
  address {{profile.profile.address}}
  p {{profile.profile.occup}}
  p {{profile.profile.info}}
  a.btn.btn-primary(ng-click="profile.onModalLoad()") Edit
  a.btn.btn-danger(ng-click="profile.destroy()") Delete

.profile(ng-include="'views/modalEditProfile.html'")
