.form-group(ng-class="")
  label.control-label Username
  input.form-control(name="", type="text", placeholder="username", required)
.form-group(ng-class="")
  label.control-label Password
  input.form-control(name="", type="password", placeholder="password", required)
.form-group(ng-class="")
  label.control-label Password
  input.form-control(name="", type="password", placeholder="re-type password", required)
button.btn

