doctype html
html(lang="en-US", ng-app="opinfo")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Omega Pi Directory
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
    .container
      h1 Omega Pi
      img.thumbnail.logo(src="images/zdove.jpg" href="index.html")
      nav
        ul
          li: a(class="button login" ng-hide="auth" href="/#/login") Login
    section(ng-view)
    script(src="lib/build.js")
    script(src="js/main.js")
    script(src="js/main.constant.js")
    script(src="js/assets/main.config.js")
    script(src="js/assets/auth/auth.config.js")
    script(src="js/assets/auth/auth.controller.js")
    script(src="js/assets/auth/auth.factory.js")
    script(src="js/assets/people/people.controller.js")
    script(src="js/assets/people/people.factory.js")
    script(src="js/assets/people/photoUpload.config.js")



